.header_heading {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 0;
}

html {
	background: #fff;
}

body {
	background: #3498DB;
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	margin-left: 15px;
	margin-right: 15px;
}

.menu {
	position: absolute;
	right: 150px;
	left: auto;
	color: white;
	background: inherit;
	border: 0px;
	font-size: 40px;
}

.cookies {
	background-color: #154360;
	text-align: center;
	/*height: 50px;*/
	/*vertical-align: middle;*/
	padding-top: 20px;
	padding-bottom: 15px;
}

.cookies a {
	border-radius: 20px;
	color: #154360;
	background-color: #fff;
	display: inline;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	margin: 20px;
	text-decoration: none;
	box-sizing: border-box;
}

.cookies p {
	margin: 20px;
	color: #fff;
	text-align: center;
	display: inline;
}

.content_start {
	text-align: center;
	margin-top: 29px;
}

.hire_me {
	display: inline-block;
	border-radius: 20px;
	background-color: #fff;
	padding-top:12px;
	height: 25px;
	width: 50px;
	padding-left: 25px;
	padding-right: 25px;
	/*margin: 20px;*/
	text-decoration: none;
	color: #3498DB;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 5px;
}

.content_start span {
	display: block;
	color: #AED6F1;
	font-size: 24px;
	margin-top: 40px;
}

main {
	background-color: #fff;
}

main section {
	background-color: #fff;
	margin: 0;
	margin-top: 30px;
}

.about_me {
	text-align: center;
	font-size: 14px;
	color: black;
}

section h2 {
	text-align: center;
	color: #3498DB;
	font-weight: normal;
	padding-top: 30px;
	margin-bottom: 20px;
}

.about_me.third {
	padding-bottom: 50px;
	margin-bottom: 0;
}

.expert_section {
	background-color: #EBF5FB;
	text-align: center;
}

.expert_table {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.column {
	min-width: 30%;
}

.expert_section p {
	text-align: center;
	line-height: 1.5;
	font-size: 0.75rem;
}

.expert_section img {
	height: 30%;
	border-radius: 50%;
	padding: 15px;
	border: 1px solid lightgray;
}

.experts_categories {
	text-transform: uppercase;
	text-align: center;
	color: #3498DB;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 18px;
	margin: 0;
	margin-top: 5%;
}

.latest_works div {
	display: flex;
	direction: row;
	justify-content: center;
}

.latest_works img {
	height: 250px;
	width: 470px;
}

.cirlce {
	text-align: center;
	margin-top: 20px;
}

.cirlce img {
	height: 75px;
	width: 75px;
	border-radius: 50%;
	border: 5px solid #5DADE2;
}

.clients {
	background: #EBF5FB;
}

.clients div {
	display: flex;
	direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.clients img {
	width: 10%;
	filter: grayscale(100%);
	margin: auto 20px;
	opacity: 0.7;
}

#google {
	width: 10%;
}

footer a {
	text-decoration: none;
	text-transform: uppercase;
	background-color: #fbfbfc;
	font-weight: bold;
	font-size: 10px;
	padding: 12px 17px;
	border-radius: 20px;
	color: #3498DB;
	display: inline-block;
	margin-top: auto;
	margin-bottom: auto;
}

footer {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 75px;
}

footer p {
	color: #fbfbfc;
	font-size: 90%;
	display: inline-block;
	margin: 0;
	white-space: nowrap;
} 

footer div {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	margin-right: 3%;
	justify-content: center;
	flex-wrap: nowrap;
}

footer span {
	font-weight: bold;
	color: #fbfbfc;
	margin-left: 2%;
	white-space: nowrap;
}

@media screen and (max-width: 992px) {
	.latest_works img {
		width: 100%;
		height: auto;
	}

	.menu {
		right: 15%;
	}

	.cookies a {
		margin-top: 5%;
	}	

	.cookies p {
		margin: 0;
		line-height: 2;
	}

	.clients img {
		/* width: 40%; */
	}
}

@media screen and (max-width: 395px) {
	footer a {
		padding: 2% 5%;
		margin-right: 5%;
	}

	footer span {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: auto;
	}

	footer p {
		margin-top: auto;
		margin-bottom: 2%;
	}

	footer div {
		margin-right: 0;
		flex-wrap: wrap;
	}
}